{% load static %}
<header>
  <a href="{% url 'index' %}" class="site-logo" aria-label="homepage">
      <i class="fas fa-home"></i> Villa Realtors</a>
  <navbar class="main-nav">
    <ul class="nav__list">
      <li class="nav__list-item"><a href="{% url 'index' %}" class="nav__link">Home</a></li>
      <li class="nav__list-item">
        <a href="{% url 'about' %}" class="nav__link">About</a>
      </li>
      <li class="nav__list-item">
        <a href="{% url 'listings' %}" class="nav__link">Our Properties</a>
      </li>
    </ul>
  </navbar>


  <navbar class="account">
      <ul class="nav__list">
          {% if user.is_authenticated %}
          <li class="nav__list-item">
            <a class="nav__link" href="{% url 'dashboard' %}">
              Dashboard</a>
          </li>
          <li class="nav-item mr-3">
            <a href="javascript:{document.getElementById('logout').submit()}" class="nav__link">Logout</a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>
          {% else %}
          <li class="nav__list-item">
              <a class="nav__link nav__link--btn" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav__list-item">
              <a class="nav__link nav__link--btn nav__link--btn--highlight" href="{% url 'register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
    </ul>
  </navbar>
</header>

