{% load static %}
<header>
  <a href="{% url 'index' %}" class="site-logo" aria-label="homepage">
      <i class="fas fa-home"></i> Villa Realtors</a>
  <navbar class="main-nav">
    <ul class="nav__list">
      <li class="nav__list-item"><a href="{% url 'index' %}" class="nav__link">Home</a></li>
      <li class="nav__list-item">
        <a href="{% url 'about' %}" class="nav__link">About</a>
      </li>
      <li class="nav__list-item">
        <a href="{% url 'listings' %}" class="nav__link">Our Properties</a>
      </li>
    </ul>
  </navbar>


  <navbar class="account">
    <ul class="nav__list">
      <li class="nav__list-item">
        <a class="nav__link nav__link--btn" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link nav__link--btn nav__link--btn--highlight" href="{% url 'register' %}">Register</a>
      </li>
    </ul>
  </navbar>
</header>

