* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.btn-secondary {
  color: #fff !important;
}

img {
  width: 100%;
}

.logo {
  width: 80px;
}

.site-logo {
  font-weight: 900;
  font-size: 1rem;
  color: #f9f9f9;
  text-decoration: none;
}

.site-logo:hover {
  color: #f4f4f4;
}

header {
  --text: #f4f4f4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  transition: background 250ms ease-in;
  background: #0f294d;
  box-shadow: 0 3px 20px rgba(15, 41, 77, 0.2);
  color: #f4f4f4;
}

header a:hover {
  text-decoration: none;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: #f9f9f9;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.nav__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover {
  color: #f4f4f4;
}

.nav__link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav__link--btn {
  border: 1.5px solid #f9f9f9;
  border-radius: 2em;
  margin-left: 1em;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.5em 1.5em;
}

.nav__link--btn:hover {
  background: var(--text);
  color: #000;
  border-color: var(--text);
}

.nav__link--btn::after {
  display: none;
}

.nav__link--btn--highlight {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.nav__link--btn--highlight:hover {
  background: var(--text);
  border-color: var(--text);
}

/* end nav */


.social a {
  margin-right: 0.4rem;
}

#showcase {
  background: url(../img/bg1.jpg) no-repeat top center fixed/cover;
  width: 100%;
  position: relative;
  min-height: 90vh;
  color: #fff;
  padding-top: 6rem;
}

#showcase .showcase-text h1 {
  text-align: left;
  line-height: 1.6;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 4rem;
}

#showcase .showcase-text p {
  text-align: left;
  line-height: 1.6;
  margin-top: 2em;
  font-size: 1.6rem;
}

#showcase .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
  background: rgba(241, 241, 241, 0.7);
}

#listings h3 {
  font-weight: 900;
}

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 60vh;
}

#showcase-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(16, 40, 78, 0.5);
}

#showcase-inner .content {
  padding-top: 10em;
  text-align: center;
  color: #fff;
}

#showcase-inner .content h1 {
  font-weight: 900;
  font-size: 4rem;
}

#showcase-inner .content p {
  font-weight: 400;
  font-size: 2rem;
}

#subscribe {
  background: #0f294d;
  height: 17vh;
}

#subscribe h6 {
  font-weight: 600;
  font-size: 20px;
}

/* subscribe form */
.subscribe_form {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
}

.subscribe_form .form-control {
  border: none;
}

.subscribe_form .form-control:focus {
  box-shadow: none;
}

.subscribe_form input {
  height: 44px;
}

.subscribe_form button {
  border: none;
  height: 44px;
  background-color: #0ed085;
  color: #fff;
  border-radius: 0;
  width: 135px;
  text-transform: uppercase;
  position: relative;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.subscribe_form button:hover {
  color: #fff;
  background-color: rgba(14, 208, 133, 0.77);
  outline: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}



/* end form */

.featuredlistings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.property:hover img {
  opacity: 0.7;
}

.tag {
  left: 5%;
  top: 5%;
  position: absolute;
  background: #10284e;
  color: white;
  padding: 2px 5px;
  font-size: 13px;
  text-transform: uppercase;
  z-index: 1000;
}

.featured-price {
  right: 5%;
  top: 5%;
  position: absolute;
  background: #39d776;
  color: white;
  padding: 2px 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.property-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.property-body span {
  padding-left: 1.5em;
  font-size: 14px;
  font-weight: 800;
}

.property-body h6 {
  text-transform: uppercase;
  font-weight: bolder;
}

.property-body a {
  margin: 0 0 10px 10px;
  width: 35vh;
}

.listing-preview a {
  position: relative;
}

#services {
  background: #ededed;
  height: 60vh;
}

#services h1 {
  font-weight: 800;
}

#services i {
  color: #004671;
}

#services h5 {
  font-weight: 800;
  margin-bottom: 2rem;
}

#services p {
  line-height: 1.7;
  text-align: center;
}

#about {
  background: #f9f9f9;
}

#about h2:first-child {
  line-height: 1.6;
  font-weight: 900;
  font-size: 2.5em;
}

#about p:first-child {
  line-height: 1.6;
  font-weight: 900;
  font-size: 2.5em;
}

.about-search {
  background: #fff;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#team {
  background: #f9f9f9;
}

#team h1 {
  font-weight: 800;
  text-transform: uppercase;
}

#team h4 {
  font-weight: 800;
  text-transform: uppercase;
}

.team-details {
  background: white;
  border: solid 1px white;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.team-details:hover {
  background-color: #10284e;
  color: white;
  transition: background-color 1s ease-in-out;
}

.team-social {
  position: absolute;
  top: 45%;
  right: 10%;
  visibility: hidden;
  background: #10284e;
  padding: 5px;
  border-radius: 5px;
}

.team-social i {
  font-size: 1rem;
}

.team-details:hover .team-social {
  visibility: visible;
  transition: visibility 1s ease-in-out;
}

#dashboard {
  background: linear-gradient(120deg, #2b5876, #4e4376);
  min-height: 50vh;
}

.table {
  background: #1b2a47;
  color: white;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.breadcrumb-dash {
  background: #1b2a47;
  color: white;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  height: 3.5em;
}

.dash-cards {
  background: #1b2a47;
  /* box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1); */
}

#dashboard ul li {
  list-style: none;
  display: inline;
}

/* media queries */
@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem;
  }

  #showcase h1 {
    font-size: 40px;
  }

  .hide-md-down {
    display: none;
  }
}

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem;
  }

  #showcase h1 {
    font-size: 40px;
  }

  #showcase p {
    display: none;
  }

  #top-bar {
    text-align: center;
  }

  #top-bar .social {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px;
  }

  #showcase-inner h1 {
    font-size: 40px;
  }
}

#form-area {
  --primary-gradient: linear-gradient(120deg, #4b6cb7, #182848);
  min-height: 93vh;
  background-image: var(--primary-gradient);
}

.login-form {
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 60px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.register-form {
  width: 360px;
  background: #f1f1f1;
  height: 630px;
  padding: 40px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.register-form h3 {
  text-align: center;
  margin-bottom: 10px;
}

.login-form h3 {
  text-align: center;
  margin-bottom: 40px;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input {
  font-size: 15px;
  border: none;
  color: #333;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;

}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  color: #051937;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary-gradient);
  transition: .5s;
}

.focus+span::before {
  top: -5px;
}

.focus+span::after {
  width: 100%;
}

.logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: var(--primary-gradient);
  color: #fff;
  background-size: 200%;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.logbtn:hover {
  background-position: right;
}

.bottom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}