{% extends 'base.html' %}
{% block title %} | Login {% endblock %}
{% block content %}
<section id="form-area">
  {% include 'partials/_alerts.html' %}
  <form class="login-form" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <h3>Login</h3>

    <div class="txtb">
      <input type="text" name="username" required>
      <span data-placeholder="Username"></span>
    </div>

    <div class="txtb">
      <input type="password" name="password" required>
      <span data-placeholder="Password"></span>
    </div>

    <input type="submit" class="logbtn" value="Login">

    <div class="bottom-text">
      Don't have an account? <a href="{% url 'register' %}">Register</a>
    </div>
  </form>

</section>


{% endblock %}