{% extends 'base.html' %} {% load humanize %}
{% block title %} | Home {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="container">
      <div class="row">
        <!-- left -->
        <div class="col-7 showcase-text">
            <h1 class="animated fadeInLeft slow">
                Find your way into your dream home
              </h1>
              <p class="lead animated slideInLeft slow">
                Villa Realtors offers you the largest collection of houses
                in the United states.
              </p>
        </div>
        <!-- right -->
        <div class="col-5">
            <div class="overlay py-4 px-3 animated shake slow">        
                  <form action="{% url 'search' %}">
                        <div class="col-md-12 mb-5">
                        <label class="sr-only">Keywords</label>
                        <input
                          type="text"
                          name="keywords"
                          class="form-control"
                          placeholder="Keyword (Pool, Garage, etc)"
                        />
                      </div>
        
                      <div class="col-md-12 mb-5">
                        <label class="sr-only">City</label>
                        <input
                          type="text"
                          name="city"
                          class="form-control"
                          placeholder="City"
                        />
                      </div>
        
                      <div class="col-md-12 mb-5">
                        <label class="sr-only">State</label>
                        <select name="state" class="form-control">
                          <option selected="true">State (All)</option >
                          {% for key, value in state_choices.items %}
                          <option value="{{ key }}">{{ value }}</option>
                          {% endfor %}
                        </select>
                      </div>

                       <div class="col-md-12 mb-5">
                          <label class="sr-only">Bedrooms</label>
                          <select name="bedrooms" class="form-control">
                            <option selected="true">Bedrooms (All)</option>
                            {% for key, value in bedroom_choices.items %}
                            <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                          </select>
                      </div>

                      <div class="col-md-12 mb-5">
                          <select name="price" class="form-control" id="type">
                            <option selected="true" >Max Price (Any)</option>
                            {% for key, value in price_choices.items %}
                            <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                          </select>
                        </div>             
                    
                    <button class="btn btn-secondary btn-block mt-4" type="submit">
                      Search Properties
                    </button>
                  </form>
                
                </div>

        </div>
        <!-- end right -->

      </div>
      <!-- end row -->
      
  </div>
</section>

<!-- subscription section -->

<section id="subscribe">
  input
</section>
 
<!-- featured section -->
    <section id="listings" class="py-5">      
        <div class="container">
            <h3 class="text-center mb-3">Featured Listings</h3>
            <div class="row">
                {% if listings %} {% for listing in listings%}
                <div class="col-md-6 col-lg-4 mb-4">
                <div class="property card">
                    <div class="card-img-top">
                        <span class="tag">Featured</span>
                        <img src="{{ listing.photo_main.url }}" alt="">
                        <span class="featured-price">${{ listing.price | intcomma }}</span>
                    </div>
                   
                    <div class="property-body">
                        <h6 class="mt-3 ml-4">{{ listing.title }}</h6>
                        <p class="text-muted pl-4">{{ listing.address }} {{ listing.state }}, {{ listing.zipcode }}</p>
                        <div class="property-details">
                        <span> Bedrooms: {{ listing.bedrooms }}</span>
                        <span>Bathrooms: {{ listing.bathrooms }}</span>
                        <span> Sqft: {{ listing.sqft }}</span>
                        <span> Garage: {{ listing.garage }}</span>
                        </div>
                        <hr>
                        <div>
                          <span  class="text-muted"> Realtor: {{ listing.realtor }}</span>
                        </div>
                        <div>
                        <span  class="text-muted">Listing Date: 
                          {{ listing.list_date | naturaltime }}</span>
                        </div>
                          <hr>                          
                            <a  href="{% url 'listing' listing.id %}" class="btn btn-primary" >View Listing</a>                      

                    </div>      

              </div>
            </div>
            {% endfor %} {% else %}
            <div class="col-md-12">
              <p>No Listings</p>
            </div>
            {% endif %}

        </div>
        
        </div>
      

    </section>
<!-- end featured section -->

<section id="services">
  <div class="container">
      <h1 class="text-center pt-5">Our Services</h1>
    <div class="row text-center mt-5">
        <div class="col-md-3">
            <i class="fas fa-home fa-2x mr-4"></i>
            <hr>
            <h5>Property Management</h5>
            <p>
              Our team has experienced property managers who can look after your property
              as per the agreed upon terms
            </p>
        </div>
        <div class="col-md-3">
            <i class="fas fa-search fa-2x mr-4"></i>
            <hr>
            <h5>Custom Property Search</h5>
            <p>
              In case you do not get the right propery from our database, you can fill in a request form and 
              our realtors will find you the perfect house.
            </p>
        </div>
        <div class="col-md-3">
            <i class="fas fa-comment fa-2x mr-4"></i>
            <hr>
            <h5>Consultancy</h5>
            <p>
              The company provides consultancy services to client who need guidance before purchasing, 
              renting, or selling a house.
            </p>
        </div>
        <div class="col-md-3">
            <i class="fas fa-crop fa-2x mr-4"></i>
            
            <hr>
            <h5>Interior Design</h5>
            <p>
              The interior design department provides new design to customers who want to remodel their homes 
              before sale or after purchase.
            </p>
        </div>

    </div>
  </div>
</section>


{% endblock %}
